
//Colores
$color1:rgb(129, 26, 45);
$color2: rgb(175, 76, 94);
$color3:rgb(49, 9, 16);

//Medias
$medida1: 480px;
$medida2: 576px;
$medida3: 768px;

//Fuentes>
$fuente1: "Playwrite NG Modern", cursive;
$fuente2: "Crimson Text", serif;
$fuente3: "Playfair Display", italic;
$fuente4: "Assistant", medium;
$fuente5: "EB Garamond", serif;
